.percentage {
    display: flex;
    height: 50%;
    width: 100%;
    transition: 0.17s;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.percentage:hover{
    background-color: rgba(255, 255, 255, 0.03);
    transition: 0.25s;
}

.percentage:hover .number {
    color: rgb(190, 190, 190);
    transition: 0.25s;
}

.percentage:hover .description {
    color: rgb(190, 190, 190);
    transition: 0.25s;
}



.number {
    font-size: 60px;
}

.description {
    font-size: 17px;
}
